
.div-baner{
    margin-top: 2rem; 
    margin-left: 20%;
 
 }
 
 .div-nav-left{
     
     border: solid;
     float: left;
     /*
     padding-top: 20px;*/
     padding-bottom: 33.2%;
     font-size: 3vw;
     margin-left: 1rem;
     margin-right: 1rem;
     height: 100%;
 }
 
 .parcela-img{
     float: left;
     max-width: 25%;
     height: auto;
     margin-right: 1rem;    
 }
 
 .h1{
     
     margin-top: 2rem;
     font-size: 5vw;
     float: left;
     
     
 }
 .h2{
     margin-left: 20%;
     font-size: 40px;
     font-weight: bold;
 }
 .div-carrusel{
     float: right;
     margin: auto;
     /*margin-left: 21%;*/
     margin-right: 15%;
     margin-top: 2rem;
     margin-bottom: 3rem;
     max-width: 65%;
     border: solid;
 }
 
 .fieldset{
     border: solid;
     float: left;
     margin-top: 3%;
     margin-bottom: 3%;
     padding: 1%;
     width: 65%;
     
 }